@import "tailwindcss";

:root {
  --color-primary: #2E7D32;
  --color-secondary: #66BB6A;
  --color-support: #8D6E63;
  --color-cta: #2563EB;

  --color-bg: #F9FAFB;
  --color-surface: #FFFFFF;
  --color-border: #E5E7EB;

  --color-text-primary: #111827;
  --color-text-secondary: #6B7280;

  --color-error: #DC2626;
  --color-warning: #F59E0B;
  --color-success: #16A34A;
}

body {
    font-family: 'Inter', sans-serif;
}